<div class="container welcome">
  <div class="row">
      <div class="col-lg-7 info-container">
        <h2>Preguntas anonimas en tiempo real <span class="badge badge-info">New</span></h2>
        <h2>Bla bla <span class="badge badge-info">New</span></h2>
        <h2>bla bla bla <span class="badge badge-info">New</span></h2>
        <h2>Muchas cosas nuevas <span class="badge badge-info">New</span></h2>
      </div>
      <div class="col-lg-5">
        <h3>Ingresa solo con un click!</h3>
        <app-login></app-login>
      </div>
  </div>
</div>
